.balls {
    position: relative;
}

.ball {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.ball.first {
    top: -95px;
    left: -90px;
    transition-property: background-color;
    transition-duration: 3s;
    background: radial-gradient(purple, mediumpurple, white);
    /*background: yellow;*/
}

.ball.second {
    top: -75px;
    left: -145px;
    background: radial-gradient(blue, cornflowerblue, white);
    /*background: blue;*/
}

.ball.third {
    top: -120px;
    left: -125px;
    background: radial-gradient(darkred, red, white);
    /*background: red;*/
}